@charset "utf-8";
/* CSS Docu@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* css基本样式设置*/
*{
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
	
body{
	font-family:"宋体";
	font-size:14px;
	background-image:url(../images/jw_background.jpg);
	background-size:cover;
	background-repeat:no-repeat;}
	

ment */

