@charset "utf-8";
/* css基本样式设置*/
*{
	margin:0px;
	border:0px;
	padding:0px;}
	
body{
	font-family:"宋体";
	font-size:14px;
	background-image:url(../images/background.jpg);
	background-size:cover;
	background-repeat:no-repeat;}
	


